* {
     margin: 0;
     padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}


#logo {
    margin: 10px 34px;
    padding: 1px;
    float: left;
}

#logo img {
    height: 40px;
    margin: 3px 6px;
}

.li2 {
    color: white;
    display: inline;
    cursor: pointer;
    justify-content: center;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: animate 1.5s linear infinite;
    font-family: 'Baloo Bhai', cursive;
    font-size: 1.2rem;
    margin-left: 10px; /* Adjust the margin as needed */
}



.navbar {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    border: 12px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    height: 80px;
    width: 1330px;
    position: fixed;
    top: 0;
    background: gray;
    background: rgba(0, 0, 0, .5);
    /* background-image: url('./naturelover.jpg' ); */
    /* background-blend-mode: darken; */
    /* background-size: cover; */
   
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}

/* .navbarborder{
    display: flex;
    flex-direction: column;
    border: 12px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    height: 70px;
    width: auto;
} */

.page_box{
    display: flex;
    gap: 5px;
}

.side_box{
    width: 1000px;
    height: auto;
    /* border: 2px solid gray; */
    margin-right: 30px;
}
.gallery_container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery_box{
    width: 200px; 
    height: 200px; 
    border: 2px solid gray; 
    padding: 10px; 
    border-radius: 10px; 
    margin: 20px;
}

@keyframes animate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

 footer { 
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  @media only screen and (max-width:1328px) {
    /* For mobile phones: */
    .navbar {
        width: 95%;
        padding: 0;
    }

  }

  @media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .side_box {
      width: 100%;
    }
    .navbar {
        width: 93%;
        padding: 0;
    }
  }

  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .side_box {
      width: 100%;
    }

    .navbar {
        width: 93%;
        padding: 0;
    }

  }

